In [4]:
import pandas as pd
ruta = '/Users/luisi/Documents/Master-Big-Data/Minería de datos/Practica/Datos/shows.csv'
df = pd.read_csv(ruta, sep=";", header=None, names = ['series'])
df

                                                 series
0     Cobra Kai,Lupin,12 Monkeys,Sherlock,,,,,,,,,,,...
1     Lost,Jack Ryan,The Flash,Game of thrones,House...
2     Sex Education,Dr. House,Kingdom,The Walking De...
3     Ozark,Sex Education,Constantine,Preacher,Vikin...
4                 Naruto,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
...                                                 ...
9685  One Piece,The Blacklist,Two and a half men,Lup...
9686  One Piece,Mr. Robot,Succession,Ozark,12 Monkey...
9687  Daredevil,Atypical,Heros,,,,,,,,,,,,,,,,,,,,,,...
9688  Absentia,The Newsroom,The Alienist,,,,,,,,,,,,...
9689            Atypical,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

[9690 rows x 1 columns]

### 1. Que series recomendarías ver a alguen que unicamente viu Lost? 
- Ozark
- Sex Education

In [5]:
datos = list(df["series"].apply(lambda x: x.split(",")))
from mlxtend.preprocessing import TransactionEncoder

encoder = TransactionEncoder()
datos_codificados = encoder.fit_transform(datos)
df = pd.DataFrame(datos_codificados, columns=encoder.columns_)

df

,,12 Monkeys,24,Absentia,Alice in Borderland,Altered Carbon,American Gods,Another Life,Archer,Arrow,...,True Detective,Two and a half men,Upload,Vikings,Watchmen,Westworld,White Collar,X-Files,You,Young Sheldon
0,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9685,True,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
9686,True,True,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
9687,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9688,True,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9689,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
from mlxtend.frequent_patterns import apriori, association_rules
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)
lost_recommendations = rules[rules['antecedents'].apply(lambda x: 'Lost' in x)]

lost_recommendations = lost_recommendations.sort_values('confidence', ascending=False)

for i, row in lost_recommendations.iterrows():
    consequents = list(row['consequents'])
    print(f"- {consequents[0]} (Confianza: {row['confidence']:.2f}, Soporte: {row['support']:.2f})")

-  (Confianza: 1.00, Soporte: 0.03)
-  (Confianza: 1.00, Soporte: 0.01)
-  (Confianza: 1.00, Soporte: 0.01)
- Sex Education (Confianza: 0.45, Soporte: 0.01)
- Sex Education (Confianza: 0.45, Soporte: 0.01)
-  (Confianza: 0.45, Soporte: 0.01)
- Ozark (Confianza: 0.42, Soporte: 0.01)
- Ozark (Confianza: 0.42, Soporte: 0.01)
-  (Confianza: 0.42, Soporte: 0.01)

### 2. Cal é a serie máis vista?

In [37]:
series_ordenadas = frequent_itemsets.sort_values('support', ascending=False)
series_ordenadas

      support                                  itemsets
0    0.999897                                        ()
59   0.255624                           (Sex Education)
146  0.255521                         (, Sex Education)
47   0.193705                                   (Ozark)
134  0.193602                                 (, Ozark)
..        ...                                       ...
653  0.010010  (Ozark, Two and a half men, Outer Banks)
257  0.010010                (Daredevil, The Mentalist)
660  0.010010    (, Sex Education, Atypical, Cobra Kai)
244  0.010010                (Constantine, Outer Banks)
346  0.010010     (Only Murders in the building, Ozark)

[693 rows x 2 columns]

### 3. Cal é a probabilidade de que alguen vira Two and a half men?

In [22]:
p2men = df["Two and a half men"].sum() / len(df)
print(f"Probabilidad de ver Two and a half men: {p2men:.4f}")

Probabilidad de ver Two and a half men: 0.1836

### 4. Que probabildade hai de que alguen vira The Mentalist ou Chernobyl?

In [43]:
pment = df["The Mentalist"].sum() / len(df)
pcher = df["Chernobyl"].sum() / len(df)

#pmentcher = (df["The Mentalist"] & df["Chernobyl"]).sum() / len(df)
#pment_o_cher = pment + pcher - pmentcher
pment_o_cher = pment + pcher

print(f"Probabilidad de ver The Mentalist o Chernobyl: {pment_o_cher:.4f}")

Probabilidad de ver The Mentalist o Chernobyl: 0.1248

### 5. Con que probabilidade alguén que veu Lucifer verá Ozark?

In [38]:
lucifer_to_ozark = rules[(rules['antecedents'].apply(lambda x: 'Lucifer' in x and len(x) == 1)) & 
                        (rules['consequents'].apply(lambda x: 'Ozark' in x and len(x) == 1))]

print(f"Confianza: {lucifer_to_ozark.iloc[0]['confidence']:.4f}")

Confianza: 0.2329

### 6. Que probabilidades hai de que alguen vira Family Guy e Dr. House?

In [ ]:
pfguy = df["Family Guy"].sum() / len(df)
phouse = df["Dr. House"].sum() / len(df)

phouseguy = (df["Family Guy"] & df["Dr. House"]).sum() / len(df)

print(f"Probabilidade de ver ambas: {phouseguy:.4f}")

Probabilidade de ver ambas: 0.0100